* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    overflow: hidden; 
    color: #0b0b0b; 
    font-weight: 500;
    background-color: #fff3f3; 
}

.content {
    max-width: 800px;
    text-align: center;
    z-index: 1; 
    position: relative;
    align-items: center; 
    display: flex; 
    flex-direction: column; 
}

.container {
    width: 100%;
    max-width: 800px; 
    margin-top: 30px;
    z-index: 1; 
    color: #313030; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.contactInfo {
    width: 50%;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #831e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 20px; 
}

.contactInfo .box .text {
    display: flex;
    margin-left: 0; 
    font-size: 16px;
    color: #b01414;
    flex-direction: column;
    font-weight: 300;
}

.contactInfo .box .text h3 {
    font-weight: 500;
    color: #0f0428;
    margin: 0; 
    align-self: flex-start; 
}

.contactForm {
    width: 50%; 
    padding: 40px;
    background: #fff;
    color: #000; 
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: calc(100% - 20px); 
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox input[type="submit"] {
    background-color: #f0d0ea;
    color: #333;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #333;
    color: #fff;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #00bcd4;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #636363;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
